/* Set the font family and size for the entire website */
html, body {
  background-color: #DCFFDA;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Restora', serif;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
}

/* Style the main navigation bar */
.nav {
  background-color: #DCFFDA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  transition: background-color 1s;
}

.nav:hover {
  background-color: #4FC080;
}

.nav-right a {
  float: right;
  text-decoration: none;
  color: #333;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

.nav-right a::before {
  padding-right: 25px;
  content:"|";

}

.nav-right a:last-child:before {
  content:"";
}

.nav-right a:hover {
  font-style: italic;
}


.nav a:hover {
  color: #055500;
  text-decoration: underline;
}

nav img {
  float: left;
}


h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 a {
  color: #333;
}

/* Style the main content area */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

header h1 {
  text-align: center;
}

header p {
  text-align: center;
  font-size: 24px;
}

.nav:hover {
  transition: width 2s, height 4s;
}

/* Style the slideshow*/
.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  &:hover {
    background: red;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^='slide']:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url('C:/Users/pascal hlavka/OneDrive/Dokumente/Bordeaux/Kedge Business School/2. Semester/Coding Skills/Website/pictures/opening_1.jpg');
}
.slide-2 {
  background-image: url('C:/Users/pascal hlavka/OneDrive/Dokumente/Bordeaux/Kedge Business School/2. Semester/Coding Skills/Website/pictures/opening_2.jpg');
}
.slide-3 {
  background-image: url('C:/Users/pascal hlavka/OneDrive/Dokumente/Bordeaux/Kedge Business School/2. Semester/Coding Skills/Website/pictures/opening_3.jpg');
}

.slide-4 {
  background-image: url('C:/Users/pascal hlavka/OneDrive/Dokumente/Bordeaux/Kedge Business School/2. Semester/Coding Skills/Website/pictures/opening_4.jpg');
}

.slide-5 {
  background-image: url('C:/Users/pascal hlavka/OneDrive/Dokumente/Bordeaux/Kedge Business School/2. Semester/Coding Skills/Website/pictures/opening_5.jpg');
}


/* Style each recipe card */
.recipe-card {
  width: 30%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  transition: all 0.2s ease-in-out;
}

.recipe-card:hover {
  position: relative;
  width: 33%;
  box-shadow: 0 4px 8px #055500;
  background-color: #85B282;
  z-index: 200;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-card h2 {
  font-size: 24px;
  margin: 10px;
  text-align: center;
}

.recipe-card p {
  font-size: 16px;
  margin: 10px;
  text-align: center;
}

.recipe-card p:hover {
  font-style: italic;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}
